

/*CSS variables*/
:root {
    --bg-primary: #550c18;
    /* --bg-secondary: #f7dad9; */
    --bg-secondary: #254441;

    --color-secondary: #DED6CF;
    --color-title: #254441;
    --color-primary: #550c18;
    --color-hover: #443730;


    --ffamily-title: 'Playfair Display SC', serif;
    --ffamily-body: 'Alice', serif;

/**mobile screen**/
    --font-size-reg: 2rem;
    --font-size-title: 5rem;


/**large screen**/


    --fw-bold: 700;


    --btn-padd: .8rem 1rem;
    --bd-width: 2px;
    --bradius: 9999px;
    
    --xform-upcase: uppercase;
    --xform-capitalize: capitalize;
   


}
*,*::before, *::after {
    padding: 0;
    margin: 0;
    
}


html {
    background: var(--light-bg);
   
    font-size: 10px;
    user-select: none;
    scroll-padding:10rem;
    scroll-behavior: smooth;
}

body {

    max-width: 1440px;
    margin: 0 auto;
    line-height: 1.5;
    font-family: var(--ffamily-body);
    font-size: var(--font-size-reg);
    overflow-x: hidden;
    background-image: url(images/pattern.png);
    color:var(--color-primary);
   
   
}


li {
    list-style: none;
}

a {
    text-decoration: none;
    color:inherit;
    font-size: var(--font-size-reg);
}

a:focus {
    text-decoration: none;
    outline:none;
}

.cursor {
    cursor: url(icons/expand.png), pointer;
}

/**buttons**/

.nav {
    position:absolute;
    top: 0;
    z-index: 1000;
    font-size: var(--font-size-reg);
   
}


/***mobile menu**/

.menu__mobile {
   cursor:pointer;
   position: fixed;
   top: 0;
   left: 0;
   right:0;
   z-index: 100;
   text-align: center;
   

}

.menu__toggle {
    background-color:var(--bg-primary);
    max-width: 200px;
    margin: 0 auto;
    padding: .5rem 0;
    color:var(--color-secondary);
   
}

.menu__icon {
    display: inline-block;
    margin-right: 1rem;
}




.menu__list_mobile {
    
    padding: 4rem 0;
    background-color:var(--bg-primary);
    line-height: 2;

    
}

.menu__list_hidden {

    height: 1vh;
    overflow: scroll;
    opacity: 0;

}


.menu__link {
    color: var(--color-secondary);
    transition: .3s ease-in;

}

.menu__item_mobile{
   max-width: 180px;
   margin: 2rem auto;
  
 
}

.menu__link:hover {
    transform:scale(1.1);
   
}

/* .menu__link:hover {
    background-color: var(--bg-secondary);
    border-radius: 9999px;   
    border: 1px solid var(--color-secondary);
    
} */


.menu__link {
    display:block;

} 


/**hide desktop nav on mobile view**/

.menu__desktop_hidden {
    display:none;
}


.page__header { 
    width: 100%;
    position:relative;
    text-transform: var(--xform-capitalize);
    overflow: hidden;
  
}


.header__main {

    background-image: url('images/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}


.header__room::before {
    content: '';
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    background-image: url(images/welcome.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    -webkit-filter:blur(1.2px);
    filter:blur(1.2px);
    transform:scale(1.1);

}



.header_overlay {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(37, 68, 65, 0.5);
    
    
}


.header__contents {

    padding: 12rem 0;
    color:var(--color-secondary);
    
    display:flex;
    flex-direction:column;
    align-items: center;
    
    position:relative;
    z-index: 100;
    

}


.header__title {
    font-size: 5rem;
}

.header__room-title {
    font-size: var(--font-size-title);
   
}

.header__subtitle {
   font-size: 2.5rem;
    font-style:oblique;
}


.header__room-heading {
    padding: 15rem 5rem 5rem;
    line-height: 1;
    z-index: 100;
    position:relative;
    color: var(--color-primary);
}



/*video*/

.header__video {
    margin-top: 10rem;
    height: 400px;

}



.button {
    border: 2px solid var(--color-primary);
    max-width: 150px;
    text-align:center;
    border-radius: 999px;
}

.button:hover {
    transform:scale(1.2);
    background-color: var(--bg-secondary);
    border-color: var(--bg-secondary);
    color: var(--color-secondary);
}

/* 
.button a:focus {

    text-decoration: none;
} */



.main__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5rem;
    display:grid;
    grid-template-columns: 100%;
   
    font-size: var(--fsz-reg-sm);


}







/****************ABOUT*****************/

.section__heading {
    text-transform: var(--xform-capitalize);
    color: var(--color-title);
    margin-top: 5rem;
    font-size: var(--font-size-title);
    text-align:center;
   
}

.section__title  {
   color: var(--color-title);
   font-size: var(--font-size-title);
   line-height: 1;
   text-transform: var(--xform-capitalize);
 
  
   
}

.section__subtitle {
    font-size: 2.5rem;

}



.section__grid-container {
    display:grid;
    grid-template-columns: 100%;
    font-size: var(--font-size-reg);
}

.section__grid-item {
    margin-top: 5rem;
}


.section__grid-item {
    overflow:hidden;
}

.grid-item__picture {
    width: 100%;
    min-height: 70%;
    max-height: 500px;
}

.grid-item__picture:hover {
    webkit-animation: pan-image 4s ease-out infinite both;
    animation: pan-image 4s ease-out infinite both; 
    
}

 @-webkit-keyframes pan-image {
    0% {
      -webkit-transform: scale(1) translate(0, 0);
              transform: scale(1) translate(0, 0);
      -webkit-transform-origin: 84% 84%;
              transform-origin: 84% 84%;
    }
    100% {
      -webkit-transform: scale(1.25) translate(20px, 15px);
              transform: scale(1.25) translate(20px, 15px);
      -webkit-transform-origin: right bottom;
              transform-origin: right bottom;
    }
  }

  @keyframes pan-image {
    0% {
      -webkit-transform: scale(1) translate(0, 0);
              transform: scale(1) translate(0, 0);
      -webkit-transform-origin: 84% 84%;
              transform-origin: 84% 84%;
    }
    100% {
      -webkit-transform: scale(1.25) translate(20px, 15px);
              transform: scale(1.25) translate(20px, 15px);
      -webkit-transform-origin: right bottom;
              transform-origin: right bottom;
    }
  } 


.section__container{
    display:flex;
    flex-direction:column;
    align-items: center;

    margin-top: 5rem;
  }
 

.section__inner img {
    width: 100%;
    object-fit: cover;
}


.section__inner {
    margin-top: 3rem;
    
}


.section__item {
    margin-top: 4rem;
   
    
}

.section__list-item {
    text-transform: var(--xform-capitalize);
    font-weight: var(--fw-bold);
    font-size: var(--font-size-title);
    color: var(--color-title);
    cursor: pointer;

}


.section__event {
    max-width: 700px;
    margin: 0 auto;
    padding: 5rem 0;
    text-align:center;
    font-size: var(--font-size-title);
    color:var(--color-title);
}






/**slides glider**/

.glider-contain {
    margin-top: 3rem !important; 
}



.glider-eat{
    overflow:hidden;
   
}

.glider-eat div img {
    width: 100%;
    height: 100%;
}

.glider-images {
    position:relative;
    width: 100%;
}


.glider-images button {
    position:absolute;
    top: 40%;
    color:var(--color-secondary);
    z-index: 100;
    display:flex;
    justify-content: center;
    
   
}




.glider-images button.glider-prev {
    left: 8%;
}


.glider-images button.glider-next {
    right: 8%;
}



.glider-drinks{
    overflow:hidden;
   
}

.glider-drinks div img {
    width: 100%;
    height:100%;
   
}


.item__title {
    font-size: var(--font-size-title);
    color:var(--color-title);
    text-align:center;
}

.section__item_picture{
    width: 100%;
    height: 400px;
    margin: 0 auto;
    
}


.picture_meeting {
    background: url(images/functions-preview.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}


.picture_wedding {
    background: url(images/weddings-preview.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}




/*********NEWSLETTER********/

details > summary {
    list-style: none;
  }
  
details > summary::-webkit-details-marker {
    display: none;
}
  

summary:focus {
    outline:none;
}



.section__newsletter {
    justify-content: center;
    padding: 10rem 0;
    background-color: var(--bg-primary);
    color: var(--color-secondary);

}

.newsletter__heading {
    font-size: 3rem;
    text-align: center;
    cursor:pointer;
    text-transform:capitalize;
}


.newsletter__icon {
    color: var(--color-title);
}


.newsletter__form{
   

  display:flex;
  flex-direction:column;
  align-items: center;
  padding: 10rem 0;

}


.newsletter__label {
    display:block;
    margin-top: 3rem;
   
}
.newsletter__input {
    display:block;
    width: 200px;
    margin-top: 3rem;
    border-top: none;
    border-left: none;
    border-right: none;
    outline:none;
    
    background:transparent;
   
}


.newsletter__input:invalid {
    box-shadow: none;
}


/**for smooth drop down**/


details{
    transition: height 1s ease;
    overflow: hidden;
}

details:not([open])
{
    height: auto;
}

details[open] {
    animation: slidedown .7s ease-in;
}

@keyframes slidedown {
    0%    {height: 0}
    100%  {height: 50vh}
}


/**slide the form up when detail is opened**/

details[open] summary ~ * {
    animation: slideup .8s ease-in;
  }

@keyframes slideup {
    0%    {opacity: 0; transform: translateY(100%)}
    100%  {opacity: 1; transform: translateY(0)}
}





/********SERVICES***********/



.feature__intro-height {
    height: 100%;
}



.feature__intro {
    background-color: var(--bg-primary);
    color: var(--color-secondary);
   
}

.feature__intro p {
    padding: 5rem 2rem;
}

.list__features {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #25444180;
   

}

.feature__item-wrapper {
    max-width:150px;
    text-align:center;
    padding: 2rem;
}

.feature__icon-wrapper {
    width: 100%;
}

.feature__icon-wrapper img  {
   width: 40px;
   height: 40px;

}

.feature_name {
    color: var(--color-title);
}


/********INTERIOR***********/


.grid-container__gallery {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    
}
   


.grid-gallery__image {
    height: 300px;
    transition: transform .5s cubic-bezier(.77,0,.18,1);
   
    
   
   
      
}

.grid-gallery__image:hover {
   transform:scale(.9);
   
}


.grid-gallery__image img {
    width: 100%;
     height: 100%;
     display:block;
     object-fit: cover;
    
     
     
      
 }





 .modal {
     position:fixed;
     width: 100%;
     height: 100%;
     top: 0;
     left:0;
     z-index: 9999;
     background-color:rgba(37, 68, 65, 0.9);
     color: var(--color-secondary);
     pointer-events: none;
     opacity: 0;
     font-size: 2.5rem;

   
 }


 .modal__content {
    width: 90%;
    max-width: 700px;
    max-height: 550px;
    margin:2rem auto; 
    display:flex;
    flex-direction:column;
    align-items: center;

    

 }

 .modal__button_close {
   align-self: flex-end;
   margin-bottom: 1rem;
   cursor: pointer;
   padding: 1rem 1.5rem;
   

}

.modal__button_close:hover {
    background-color: rgba(85, 12, 24, 0.8);
    border-radius: 999px;
    transition: .2s ease-in;
}

 .modal__image {
     width:100%;
     height: 100%;
     object-fit: cover;
     
 }

 .modal__text {
     margin-top: 1rem;
     background-color: var(--bg-primary);
     padding: .5rem 1rem;
     
 }


 .modal.show-interior {
     opacity: 1;
     pointer-events: all;
 }

 .modal.show-interior .modal__image,
 .modal.show-interior .modal__text,
 .modal.show-interior .modal__button_close {
     animation: zoom .3s linear;
 }

 @keyframes zoom {
     from {
         transform: scale(0);

     }
     to {
         transform:scale(1);
     }
 }


 /* .modal__image {
     width: 80%;
     max-width: 700px;
    
 } */


/****************3RD PAGE****************/





/****** intro ********/

.header__restaurant::before{
    content:'';
    position:absolute;
    width:100%;
    height: 100%;
    background:  url(images/restro-banner.jpg);
   
    background-size:cover;
    background-position:bottom;
    background-repeat: no-repeat;
   
    -webkit-filter:blur(2px);
            filter:blur(2px);
   
    transform: scale(1.1); 

}

.header__restro-heading {
    padding: 10rem 1rem;
    font-size: var(--font-size-reg);
    text-align:center;
    color:var(--color-secondary);
    position:relative;
    z-index: 100;
}

.heading__link {
    font-size: 2rem;
    border-bottom: 2px dotted var(--color-secondary);
}

/**************CULINARY*********/


.grid-container__restaurant {
    max-width: 900px;
    min-width: 300px;
    width: 90%;
    margin: 15rem auto;
   
}
.restaurant__image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  
}
 
.restaurant__text h2 {
    margin-bottom: 1rem;   
}

.restaurant__text {
    background: rgba(85, 12, 24, 0.8);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    color: var(--color-secondary);
    height: 100%;
   
  }
 





/***********TAB MENU**********/




.tab__menu{
    display:flex;
    flex-wrap: wrap;
    max-width: 900px;
    height: 90vh;
    margin: 15rem auto;
    position:relative;
    overflow-x:hidden;
    
  }
  
  .tab__menu input[type="radio"]{
    display:none;
  }
  
  .tab__nav {
    font-size: 2.5rem;
    height:max-content;
    padding: .2rem 1rem ;
    margin: 0 auto;
    border-radius: 9999px;
    background-color:var(--bg-secondary);
    cursor:pointer;
    transition: background .8s;
    color: var(--color-secondary);

   
  
  }
  
  .tab__body{
    width: 100%;
    order: 1; 
  
  }


  .body__inner {
    width: 100%;
    position:absolute;
    top: 150px;
    bottom: 0;
    opacity: 0;
    transform: translateX(200%);
    transition: opacity .5s ease,
                transform .7s ease;

    overflow-y:scroll;
    
  }

 


  /**tab functionality**/

  .tab__menu input[type="radio"]:checked + .tab__nav + .tab__body > .body__inner {
    opacity: 1;
    transform: translateX(0%);
    
    
  }
  
  
  .tab__menu input[type="radio"]:checked + .tab__nav {
    background-color: var(--color-secondary);
    color: var(--color-title);
    border-bottom: 2px solid var(--color-title);
    border-top: 2px solid var(--color-title);
   
  }
  

  /****TAB BODY CONTENTS*******/

  .menu-gallery__wrapper {
    padding: 1rem;
   
  }

  .menu-gallery__header {
      display:inline-block;
      background-color:rgba(85, 12, 24, 0.8);
      border-radius: 999px;
      padding: 0 .8rem;
      margin: 3rem 0;
      font-size: 3rem;
      color: var(--color-secondary);
  }

  .menu-gallery__item {
     
      width: 100%;
      margin: 2rem 0;
      display:grid;
      grid-template-columns: repeat( auto-fill, minmax(250px, 1fr));
      gap:2rem;
     
  }


  .menu-gallery__item > * {
     width: 100%;
     height: 300px;
    
   
  }


  .img-wrapper img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      -webkit-filter:saturate(0.8);
      filter:saturate(0.8);

      /* filter: drop-shadow(3px 2px 0.1rem var(--color-primary)); */
  }

  /**hover effect***/

  .img-wrapper {
      position:relative;
      overflow:hidden;
     
  }


  .img-wrapper img:hover {
    animation: pan-image 4s ease-out infinite both;  
    -webkit-filter:saturate(1.5);
    filter:saturate(1.5);
    transition: .3s;
  }

/* 
  .icon__hover {
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:rgba(37, 68, 65, 0.5);
    z-index: 2;
    transition: .5s cubic-bezier(.47,0,.74,.71);
    opacity:0;

  }


  .icon__hover span {
    font-size: 5rem;
    display:block;
    text-align:center;
    margin-top: 10rem;
    color:var(--color-secondary);
    cursor:pointer;
}


.icon__hover:hover {
    opacity: 1;
}

.icon__hover span:hover{
    transform: scale(1.5);
    transition: .3s cubic-bezier(.47,0,.74,.71);
} */

  .tab__menu::-webkit-scrollbar,
  .body__inner::-webkit-scrollbar {
      display: none;
} 

   .tab__menu,
   .body__inner  {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}  



  /* Hide scrollbar for IE, Edge and Firefox */
     /* .tab-menu,
     .tab-contents  {
    -ms-overflow-style: none;  
    scrollbar-width: none;  

  /* .img-wrapper:hover .enlarge-hover {
    display:block;
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background:rgba(37, 68, 65, 0.5);
    z-index: 2;
    transition: .5s ease;

  } */

 

  /* .enlarge-hover {
      position:absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background:gray;
      z-index: 2;

  } */


/****THE CHEF*******/



.chef-section__container{
    max-width: 900px;
    margin: auto auto 15rem;
    background-color: var(--bg-primary);
    color: var(--color-secondary);
    padding: 5rem 0;

}

.chef-section__inner {
    padding: 2rem;
}
.float__image-wrapper{
 
  max-width: 400px;
  max-height: 400px;
  margin: 2rem auto;
  shape-outside: circle(50% at 50% 50%) content-box;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  
 
}


.float__image-wrapper img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
     object-fit: cover;
    -o-object-position: top;
       object-position: top;
   
}

.float-text {
    margin-top: 10rem;
}

.text__chef-name {
    font-size: 4rem;
    font-weight: 700;
    color: var(--color-hover);
}
/* 

.chef-container {
    max-width: 1000px;
    min-width: 300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

   
}
      
.flex {
    display:flex;
    flex-direction: column;
    justify-content: center;
}


.flex img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chef-img {
    width: 100%;
    min-height: 600px;
  
}
.chef-about  {
    
    width: 100%;
    background:var(--dark-bg);
}

.chef-about > * {
    padding: var(--sec-padd-sm);
}
.chef-about h2 {
    text-transform: var(--texttrfm-cap);
    font-size: var(--fsz-title-sm);
    color: var(--color-title);
   
    
}

.chef-about p {
    font-size: var(--fsz-reg-sm);
    color: var(--light-bg);
   
} */




/**********FOOOTER***********/


.footer{
    justify-content: center;
    padding: 2rem 0;
    background-color: var(--bg-secondary);
    color: var(--color-secondary);
    font-size: 1.2rem;
    margin-top:0;
}

.footer > * {
    margin-top:1.5rem;
}
.footer__title {
    color: var(--color-primary);
    font-size: 3rem;
    text-transform: var(--xform-capitalize);
}


.footer__icon {
    font-size: 2rem;
}

.footer span {
    margin-right: 2rem;
}


/***animate on sroll**/


.slideup-aos{
    transform: translateY(50px);
    opacity: 0;
    transition: all .7s cubic-bezier(.47,0,.74,.71); 
}




.show-aos {
    transform: translateY(0px);
    opacity: 1;
}

.img-aos-zoomIn {
    transform:scale(.5);
    opacity: 0;
    transition: all .6s cubic-bezier(.47,0,.74,.71); 
    
}

.zoomIn-img-aos {

    transform:scale(1);
    opacity: 1;
  
}


.glider-contain .zoomIn-img-aos img {
    animation:none;
}

.interior-gallery .zoomIn-img-aos img {
    animation:none;
}


/*start the image animation after the element is viewed*/

/* .zoomIn-img-aos img {
    -webkit-animation: pan-image 4s ease-out 1s infinite both;
    animation: pan-image 4s ease-out 1s infinite both;
}



@-webkit-keyframes pan-image { 
    0% {
      -webkit-transform: scale(1) translate(0, 0);
              transform: scale(1) translate(0, 0);
      -webkit-transform-origin: 84% 84%;
              transform-origin: 84% 84%;
    }
    100% {
      -webkit-transform: scale(1.25) translate(20px, 15px);
              transform: scale(1.25) translate(20px, 15px);
      -webkit-transform-origin: right bottom;
              transform-origin: right bottom;
    }
  }

  @keyframes pan-image {
    0% {
      -webkit-transform: scale(1) translate(0, 0);
              transform: scale(1) translate(0, 0);
      -webkit-transform-origin: 84% 84%;
              transform-origin: 84% 84%;
    }
    100% {
      -webkit-transform: scale(1.25) translate(20px, 15px);
              transform: scale(1.25) translate(20px, 15px);
      -webkit-transform-origin: right bottom;
              transform-origin: right bottom;
    }
  } */



  .img-aos-slide {
      margin-left: -1000px;
      opacity: 0;
      transition: 2.3s cubic-bezier(.47,0,.74,.71); 
   
     
  }



  .img-aos-slide-left {
    margin-left: 0px;
    opacity: 1;
}


.fadein-aos {
    opacity: 0;
    transition: all .6s cubic-bezier(.47,0,.74,.71);
}
  

.fade-in{
    opacity: 1;
}