


/*CSS variables*/
:root {
    --dark-bg: #550c18;
    --light-bg: #f7dad9;

    --color-light: #DED6CF;
    --color-title: #254441;
    --color-main: #550c18;
    --color-hover: #443730;


    --ffamily-title: 'Playfair Display SC', serif;
    --ffamily-body: 'Alice', serif;

/**mobile screen**/
    --fsz-title-sm: 2rem;
    --fsz-reg-sm: 1.2rem;

/**large screen**/
    --fsz-title-lg: 3rem;
    --fsz-reg-lg: 1.5rem;



    --fw: 700;

    --img-height-sm: 400px;
    --img-height-lg: 70vh;


    --sec-padd-sm: 1.5rem;
    --sec-padd-lg: 3.5rem;
    --margin-btm-sm: 2rem;
    --margin-btm-lg: 2.5rem;

    --btn-padd: .8rem 1rem;
    --bd-width: 2px;
    --bradius: 9999px;
    
    --row-gap: 2rem;
    --row-gap-lg: 5rem;
    --col-gap: 1.8rem;
    --texttrfm-uc: uppercase;
    --texttrfm-cap: capitalize;
    --transition: .6s ease;


}
*,*::before, *::after {
    padding: 0;
    margin: 0;
    
}


html {
    background: var(--light-bg);
    color:var(--color-main);
    user-select: none;
    scroll-padding: 5rem;
    scroll-behavior: smooth;
}

body {

    max-width: 1440px;
    margin: 0 auto;
    line-height: 1.5;
    font-family: var(--ffamily-body);
    overflow-x: hidden;
    background: url(images/pattern.png);
   
   
}


li {
    list-style: none;
}

a {
    text-decoration: none;
    color:inherit;
}

a:focus {
    text-decoration: underline;
    outline:none;
}

/**buttons**/

.btn {
    width: max-content;
    padding: var(--btn-padd);
    border: var(--bd-width) solid var(--dark-bg);
    text-transform: var(--texttrfm-cap);
    border-radius: var(--bradius);
   
   
    
}

.btn:hover {
    background:var(--color-title);
    transition:var(--transition);
    transform: translateY(-10%);
}

.btn:hover a{
    color: var(--color-light);
    transition:var(--transition);
  

}

.element-gap {
    margin-bottom: var(--margin-btm-sm);
}


header { 
    width: 100%;
    height: auto;
  
    background: url('images/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    position:relative;

    display:flex;
    flex-direction: column;
  
    align-items: center;
    overflow-x: hidden;
  
}



.header-contents {
    position:relative;
    z-index: 100;
}


/***navigation bar***/


nav {
    position:absolute;
    top: 0;
    z-index: 1000;
}


/***mobile menu**/

.mobile-menu {
   cursor:pointer;
   position: fixed;
   top: 0;
   left: 0;
   right:0;
   z-index: 100;

}

.toggle {
    background:var(--dark-bg);
    width: 150px;
    margin: 0 auto;
    padding:var(--btn-padd);
   
    text-align: center;
    font-size: var(--fsz-reg-sm);
    color:var(--color-light);
}

.icon {
    display: inline-block;
    margin-right: 1rem;
}


/** menu list**/

.menu-list {
    
    width: 100vw;
    height:auto;
    background:var(--dark-bg);
    line-height: 2;
    transition: .3s ease-in-out;
    
    /**hide while on mobile view**/
    height: 1vh;
    overflow: scroll;
    opacity: 0;
   
    
}


.menu-list li {
   max-width: 200px;
   margin: var(--margin-btm-sm) auto;
   text-align: center;
   transition: var(--transition);
  
  
}

.menu-list li:hover {
    background: var(--color-title);   
    border-radius:var(--bradius);
}
.menu-list li:nth-child(1) {
    margin-top: 3.5rem;
}

.menu-list li a {
    font-size: var(--fsz-reg-sm);
    color: var(--light-bg);
    padding: 0;
   
}


/**hide desktop nav on mobile view**/

.desktop-menu {
    display:none;
}


.header-overlay {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(37, 68, 65, 0.7);
}


.header-contents {
    padding: 10rem 0;
    color:var(--light-bg);
    display:flex;
    flex-direction:column;
    align-items: center;

}

.header-contents h1 {
    --fsz-title-sm: 3rem;
    font-size: var(--fsz-title-sm);
}

.header-contents h4 {
    --fsz-reg-sm: 2rem;
    font-size: var(--fsz-reg-sm);
    font-style:oblique;
}


.header-contents h1,
.header-contents h4 {
    text-transform: var(--texttrfm-cap);
}



/*video*/

.header-video {
   
    margin-top: 3rem;
    height: 400px;
   
    

}


main {
    width: 90%;
    margin: 0 auto;
    display:grid;
    grid-template-columns: 100%;
    padding: var(--sec-padd-sm) 0;
    row-gap: var(--row-gap);
    font-size: var(--fsz-reg-sm);
   

}







/****************ABOUT*****************/

.about-grid-container {
  
    font-size: var(--fsz-reg-sm); 
}

.about-heading {
    text-transform: var(--texttrfm-cap);
    font-size: var(--fsz-title-sm);
    color:var(--color-title);
    font-weight: var(--fw);
    
   
}

.about-items {
    overflow:hidden;
}

/** pan image infinitely**/

.about-items img{
    display:block;
    margin: 0 auto;
    width:100%;
    -webkit-animation: pan-image 4s ease-out infinite both;
	        animation: pan-image 4s ease-out infinite both;
       
}


@-webkit-keyframes pan-image {
    0% {
      -webkit-transform: scale(1) translate(0, 0);
              transform: scale(1) translate(0, 0);
      -webkit-transform-origin: 84% 84%;
              transform-origin: 84% 84%;
    }
    100% {
      -webkit-transform: scale(1.25) translate(20px, 15px);
              transform: scale(1.25) translate(20px, 15px);
      -webkit-transform-origin: right bottom;
              transform-origin: right bottom;
    }
  }

  @keyframes pan-image {
    0% {
      -webkit-transform: scale(1) translate(0, 0);
              transform: scale(1) translate(0, 0);
      -webkit-transform-origin: 84% 84%;
              transform-origin: 84% 84%;
    }
    100% {
      -webkit-transform: scale(1.25) translate(20px, 15px);
              transform: scale(1.25) translate(20px, 15px);
      -webkit-transform-origin: right bottom;
              transform-origin: right bottom;
    }
  }


  .about-items img:hover {
      animation:none;
      transition: var(--transition);
  }

/** MAIN FLEX LAYOUT **/

.main-container {
    
    display:grid;
    grid-template-columns: 100%;
    place-items: center;
 

  


   
   

}


/****************ROOMS*****************/


/***slide images**/

.room-slide-images {
    width: 100%;
    height: 30vh;
   
   
  
}
.room-slide-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    

    
    
  
}



/***room contents***/

.room-heading {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.room-heading h4,
.room-heading h2 {
    color:var(--color-title);
}

.room-heading h4 {
    text-transform: var(--texttrfm-uc);
    font-size: var(--fsz-title-sm);
}

.room-heading h2 {
    --fsz-title-sm: 1.8rem;
    text-transform: var(--texttrfm-cap);
    font-size: var(--fsz-title-sm);
}

.room-grid-texts p {
    font-size: var(--fsz-reg-sm);
   
}



/**room category**/

.bed-list-type {
    text-transform: var(--texttrfm-cap);
    font-size: var(--fsz-title-sm);
   
  
}

.bed-list-type li {
    width: 50%;
    border-bottom: 1px dotted var(--color-main);
    color:var(--color-title);
    cursor: pointer;
   

   
}

.bed-list-type li:not(li:nth-child(1)) {
    margin: 1rem 0;
}

.bed-list-type li:hover {
    color: var(--color-hover);
    transition: var(--transition);
}



/*****RESTAURANT****/



/**resto texts**/



.resto-texts h2 {
    text-transform: uppercase;
    font-size: var(--fsz-title-sm);
    color: var(--color-title);
}

.resto-texts p {
    font-size: var(--fsz-reg-sm);
}


/**slides glider**/




.glider-eat{
    overflow:hidden;
   
}

.glider-eat div img {
    width: 100%;
    height:100%;
   
}

.glider-images {
    position:relative;
    width: 100%;
}


.glider-images button {
    position:absolute;
    top: 40%;
    font-size: 2.5rem;
    color:var(--dark-bg);
    z-index: 100;

    display:flex;
    justify-content: center;
    
   
}




.glider-images button.glider-prev {
    left: -5%;
}


.glider-images button.glider-next {
    right: -5%;
}



.glider-drinks{
    overflow:hidden;
   
}

.glider-drinks div img {
    width: 100%;
    height:100%;
   
}


/*****EVENTS*********/

.events-heading,
.functions-wrapper h2 {
    color: var(--color-title);
}
.events-heading,
.functions-wrapper p {
    text-align: center;
}

.functions-wrapper {
    display:flex;
    flex-direction:column;
    align-items: center;
   
}

.functions-wrapper h2 {
    font-size: var(--fsz-title-sm);
    margin-top: 2rem;
   
}



.preview {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    
}


.meetings {
    background: url(images/functions-preview.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}


.weddings {
    background: url(images/weddings-preview.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}




/*********NEWSLETTER********/

.newsletter-container {
   
    background: var(--dark-bg);
    color: var(--color-light);

}

details {
    padding: 2.5rem;
}
summary {
   text-align: center;
    cursor:pointer;
    text-transform:capitalize;
    
}

summary:focus {
    outline:none;
}
summary span {
    color: var(--color-title);
}



details > summary {
    list-style: none; /**remove the default arrow of details**/
  }


form.newsletter{
   
   width: 80%;
   margin: 0 auto;
   text-align:center;
   padding-top: 5rem;
  
   
  


}


.newsletter label {
    display:block;
    
    
}

.newsletter input {
    border-top: none;
    border-left: none;
    border-right: none;
    outline:none;
    
    background:transparent;
}


input:invalid {
    box-shadow: none;
}


/**for smooth drop down**/


details{
    transition: height 1s ease;
    overflow: hidden;
}

details:not([open])
{
    height: auto;
}

details[open] {
    animation: slidedown .7s ease-in;
}

@keyframes slidedown {
    0%    {height: 0}
    100%  {height: 50vh}
}


/**slide the form up when detail is opened**/

details[open] summary ~ * {
    animation: slideup .8s ease-in;
  }

@keyframes slideup {
    0%    {opacity: 0; transform: translateY(100%)}
    100%  {opacity: 1; transform: translateY(0)}
}


/******************SECOND PAGE*******************************/

.room-page {
    display: block;
    background:url(images/welcome.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    line-height:initial;
    position:relative;
   
   
}


.room-banner {
    padding:10rem var(--sec-padd-sm) var(--sec-padd-sm);
    position:relative;
    z-index: 100;
    
}


.room-page::before {
    content:'';
    position:absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(37, 68, 65, 0.5);
   
}

.room-banner h4 {
    font-size: var(--fsz-reg-sm);
}

.room-banner h1 {
    font-size: var(--fsz-title-sm);
    text-transform: var(--texttrfm-uc);
}



/********SERVICES***********/


.sec-title {
    margin-top: 10rem;
    padding-bottom: 1.5rem;
    font-size: var(--fsz-title-sm);
    color:var(--color-title);
    text-transform: var(--texttrfm-uc);
    text-align: center;
}
.services-container {
 
    display:flex;
    flex-wrap:wrap;
  
}

.services-container > * {
    flex: 300px;
    padding: 1rem;
}

.services-intro {
    padding: 3rem var(--sec-padd-sm);
    background: var(--dark-bg);
    color: var(--color-light);
    display:grid;
    place-items: center; /**center the content vertically inside flex-box**/
    font-size: var(--fsz-reg-sm);
    
   
}
.services-list {
    display:flex;
    flex-wrap:wrap;
    background: rgba(85, 12, 24, 0.2);
   

}

.services-list > * {
    flex: 40%;
    padding: 1rem;
    text-align: center;
    color: var(--color-title);
    
    
}



.service-card img {
    width: 40px;
    height: 40px;
}


/********INTERIOR***********/


.image {
    height: 50vh;
    transition: transform .5s cubic-bezier(.77,0,.18,1);
    cursor: pointer;
   
      
}

.image:hover {
   transform:scale(.9);
    
}
.interior-gallery {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    background: var(--light-bg);

   
    
  }
   
.image img {
   width: 100%;
    height: 100%;
    display:block;
    object-fit: cover;
    
    /*filter: drop-shadow(.1rem .5rem 0.2rem rgba(85, 12, 24,0.5));*/

    
}



/****************3RD PAGE****************/



.tab-menu,
.restaurant-grid-gallery,
.chef-container {
    margin: 5rem auto 0;
}

/****** intro ********/

.resto-intro  {
    max-width: 100%;
    margin: 0 auto;
    position:relative;

   
}
.resto-intro::before{
    content:'';
    position:absolute;
    width:100%;
    height: 100%;
    background:  url(images/restro-banner.jpg);
   
    background-size:cover;
    background-position:bottom;
    background-repeat: no-repeat;
   
    -webkit-filter:blur(2px);
            filter:blur(2px);
   
    transform: scale(1.1); 
    
   
}

.resto-intro h1{
    padding: 5rem 1rem;
    font-size: var(--fsz-title-sm);
    text-align:center;
    color:var(--light-bg);
    position:relative;
    z-index: 100;
}

.inline-link {
    border-bottom: 2px dotted var(--color-light);
}



/**************CULINARY*********/

.restaurant-grid-gallery {
    max-width: 900px;
    min-width: 300px;
    width: 90%;

   

    
   
}
.restaurant-grid-gallery .image {
    width: 100%;
    margin-top: 1.5rem;
   object-fit: cover;
   
    
}


.opening-hours {
    text-align: center;
   
    
}
 
.opening-hours h2 {
    margin-bottom: 1rem;
    
  }
 
  .opening-hours, 
  .quote {
   background: rgba(85, 12, 24, 0.8);
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: var(--color-light);
   height: 100%;
   
  
  }

  .opening-hours,
  .quote{
      padding: 2rem;
      margin-bottom: .5rem;
     
   }



/***********TAB MENU**********/




.tab-menu{
    display:flex;
    flex-wrap: wrap;
    max-width: 900px;
    height: 90vh;
    position:relative;
    overflow-x:hidden;
    
  
  }
  
  
  .tab-menu input[type="radio"]{
    display:none;
  }
  
  
  .tab-menu label {
    font-size: 1.5rem;
    height: max-content;
    padding: 0 .5rem;
    margin: 0 auto;
    border-radius: var(--bradius);
    background:var(--color-title);
    cursor:pointer;
    transition: background .8s;
    color: var(--light-bg);
  
  }
  
  .tab-menu .tab-body {
    width: 100%;
    order: 1;
   
    
   
  
  }


  .tab-menu .tab-body .tab-contents {
    width: 100%;
    position:absolute;
    top: 70px;
    bottom: 0;
    opacity: 0;
    transform: translateX(200%);
    transition: opacity .5s ease,
                transform .7s ease;

    overflow-y:scroll;
    
  }

 


  /**tab functionality**/

  .tab-menu input[type="radio"]:checked + label + .tab-body > .tab-contents {
    opacity: 1;
    transform: translateX(0%);
    
    
  }
  
  
  .tab-menu input[type="radio"]:checked + label {
    background: var(--light-bg);
    color: var(--color-title);
    border-bottom: 3px solid var(--color-title);
    border-top: 3px solid var(--color-title);
   
  }
  

  /****TAB BODY CONTENTS*******/

  .cuisine-container,
  .dessert-container,
  .drinks-container {
   
    padding: 1rem;
   
  }

  .tab-contents h2 {
      display:inline-block;
      background:rgba(85, 12, 24, 0.8);
      border-radius: var(--bradius);
      padding: 0 .8rem;
      color: var(--color-light);
  }

  .tab-gallery {
     
      width: 100%;
      margin: 2rem 0;
      display:grid;
      grid-template-columns: repeat( auto-fit, minmax(150px, 1fr));
      gap:2rem;
     
  }

  .dessert-container .tab-gallery {
    grid-template-columns: repeat( auto-fill, minmax(250px, 1fr));

  }

  .drinks-container .tab-gallery {
    grid-template-columns: repeat( auto-fill, minmax(250px, 1fr));

  }

  .tab-gallery > * {
     width: 100%;
     height: 200px;
  }

  .dessert-container .tab-gallery > * {
    
      height: 250px;
  }

  .drinks-container .tab-gallery > * {
      height: 250px;
  }

  .img-wrapper img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: drop-shadow(3px 2px 0.2rem var(--color-title));
  }

  /**hover effect***/

  .img-wrapper {
      position:relative;
     
  }


  .enlarge-hover {
    
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background:rgba(37, 68, 65, 0.5);
    z-index: 2;
    transition: .5s ease;
    opacity:0;

  }


  .enlarge-hover span {
    font-size: 3rem;
    display:block;
    text-align:center;
    margin-top: 5rem;
    color:var(--color-light);
    cursor:pointer;
   


}


.enlarge-hover:hover {
    opacity: 1;
}

.enlarge-hover span:hover{
    transform: scale(1.5);
    transition: .3s ease;
}


  /* .img-wrapper:hover .enlarge-hover {
    display:block;
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background:rgba(37, 68, 65, 0.5);
    z-index: 2;
    transition: .5s ease;

  } */

 

  /* .enlarge-hover {
      position:absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background:gray;
      z-index: 2;

  } */

  /***hide scrollbar***/

   /* Hide scrollbar for Chrome, Safari and Opera */
    .tab-menu::-webkit-scrollbar,
    .tab-contents::-webkit-scrollbar {
        display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
     .tab-menu,
     .tab-contents  {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  } 


/****THE CHEF*******/



.chef-container {
    max-width: 1000px;
    min-width: 300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

   
}
      
.flex {
    display:flex;
    flex-direction: column;
    justify-content: center;
}


.flex img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chef-img {
    width: 100%;
    min-height: 600px;
  
}
.chef-about  {
    
    width: 100%;
    background:var(--dark-bg);
}

.chef-about > * {
    padding: var(--sec-padd-sm);
}
.chef-about h2 {
    text-transform: var(--texttrfm-cap);
    font-size: var(--fsz-title-sm);
    color: var(--color-title);
   
    
}

.chef-about p {
    font-size: var(--fsz-reg-sm);
    color: var(--light-bg);
   
}




/**********FOOOTER***********/

footer {
    background: var(--color-title);
}


.footer {
    max-width: 400px;
    margin: auto;
    padding: var(--sec-padd-sm) 0;
    color: var(--color-light);
    display:grid;
    place-items: center;
    
   

    
}
  
.footer h2{
    text-transform: var(--texttrfm-cap);
    color: var(--color-main);  
}

.footer span {
    display:inline-block;
    margin: .8rem; 
    font-size: 15px;
    cursor:pointer;
}

.footer .socmed {
    margin-top: 1rem;
}

.footer .socmed span:hover {
    transform:translateY(-10%);
}

.footer .socmed span{
    font-size: var(--fsz-title-sm); 
    transition: .3s ease-in-out;
    
     
}

.copyright span {
    margin-right: 2px;
}


.support-links {
    margin-top: 1.5rem;
   
}

/**footer bar&resto**/

footer.resto {
    margin-top: 5rem;
}

