@media screen and (min-width: 768px) 

{


 
  .main-container {
    width: 100%;
    display:grid;
    grid-template-columns: 50% 50%;
   
    
 
}



  /****************ABOUT*****************/

   
  .about-heading {
    text-transform: var(--texttrfm-cap);
    font-size: var(--fsz-title-lg);
   
}


.about-grid-container {
    font-size: var(--fsz-reg-lg); 
}

.about-items p {
  padding: 0 var(--sec-padd-sm);
}




  /****************ROOMS*****************/
  
 
  .room-slide-images {
    height: 40vh;
  }


  .room-grid-texts {
    padding: var(--sec-padd-sm);
}


  .bed-list-type li {
    font-size: var(--fsz-reg-lg);
  }



/*****RESTAURANT****/


.resto-texts { 
  padding: var(--sec-padd-sm); 
}






/*****EVENTS*********/


.events-heading {
  width: 70%;
  margin:0 auto;
  font-size: var(--fsz-reg-lg);
}


.functions-wrapper {
  padding: var(--sec-padd-sm);
}

.functions-wrapper h2 {
  font-size: var(--fsz-title-lg);
}

/*********NEWSLETTER********/


form.newsletter,summary{
   
  font-size: var(--fsz-reg-lg);

}




/******************SECOND PAGE*******************************/



.room-banner {
  padding:10rem var(--sec-padd-lg) var(--sec-padd-lg);
}


.room-banner h4 {
  font-size: var(--fsz-reg-lg);
}

.room-banner h1 {
  font-size: var(--fsz-title-lg);
}



/********SERVICES***********/

.sec-title {
  font-size: var(--fsz-title-lg);
}
.services-intro {
  font-size: var(--fsz-reg-lg);
}




/********INTERIOR***********/


.interior-gallery {
    display:grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: repeat(5, 20rem);
   width: 90%;
   margin: 0 auto;
  
    
  }

.image {
  height: auto;
  padding: .5rem;
  
  
}

.jaz {
    grid-column: 1 / 2;
    grid-row: 1 / 3 ;
}


.shower {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
   
  
}

.cr {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  
}

.tv {
  grid-column: 2 / 4;
  grid-row: 3 / 5;

}

.table {
  grid-column: 1/2;
  grid-row: 3 / 4;
}

.aircon {
  grid-column: 1/2 ;
  grid-row: 4 / 5;

}

.pillows {
  grid-column: 1/4 ;
  grid-row: 5 / 6;

}

.towels {

  grid-column: 1/2;
  grid-row:5 /6;

}

.toothbrush {
  grid-column: 2 / 4 ;
  grid-row:5 /6;

}


/****************3RD PAGE****************/

/****** intro ********/

.resto-intro h1 {
  font-size: var(--fsz-title-lg);
  padding: 10rem 5rem;
  line-height: initial;

}




/**************CULINARY *********/

 .restaurant-grid-gallery {

   
   display:grid;
   gap: .5rem;
   grid-template-columns: repeat(6, 1fr);
   grid-template-rows: repeat(3,200px);
   grid-auto-flow: dense;
   place-items: center;
  
 }



 .restaurant-grid-gallery .image {
   width: 100%;
   height: 100%;
   object-fit: cover;
   display:block;
   margin: 0;
 }


 .opening-hours {
   grid-column:3 / 5;
   grid-row: 1 /3;
  
 }

 .quote {
   grid-column: span 2;
 }

.restaurant-grid-gallery .image {
  grid-column: span 2;
}

.restaurant-grid-gallery .image:nth-child(1),
.restaurant-grid-gallery .image:nth-child(3)
 {
  grid-row: span 2;
}

.opening-hours,
.quote {
      padding: 0 1.5rem;
  }



/**********TAB MENU************/



  /****TAB BODY CONTENTS*******/

 
  .tab-menu,
  .drinks-container {
    height:700px;
  }


 
 
/****THE CHEF*******/


.flex {
  display:flex;
  flex-direction:row;
}



.chef-about h2 {
  font-size: var(--fsz-title-lg);
}

.chef-about p {
  font-size: var(--fsz-reg-lg);
}

.chef-about > * {
    padding: var(--sec-padd-sm) var(--sec-padd-lg);
}



/**********FOOOTER***********/

.footer h2 {
  font-size: var(--fsz-title-lg);
}



/**footer room page**/

footer.room {
  margin-top: 10rem;
}
/* .tab-menu{
  display:flex;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 2rem auto;
  position:relative;

  border: 2px solid red;
  overflow:hidden;
}


.tab-menu input[type="radio"]{
  display:none;
}


.tab-menu label {
  padding: 1rem;
  margin: 0 auto;
  background: white;
  cursor:pointer;
  transition: background .8s;
  

}

.tab-menu .tab-body {
  width: 100%;
  height: 50vh;
  padding: 1rem;
  background: burlywood;
  order: 1;
  

  
 
  
}

.tab-menu .tab-body .tab-contents {
  position:absolute;
  top: 70px;
  opacity: 0;
  transform: translateX(200%);
  transition: opacity .5s ease,
              transform .7s ease;
}
.tab-menu input[type="radio"]:checked + label + .tab-body > .tab-contents {
  opacity: 1;
  transform: translateX(0%);
  
}


.tab-menu input[type="radio"]:checked + label {
  background: gray;
  border-bottom: 3px solid blue;
 
}


 */


}
