@media screen and (min-width: 768px) 

{


 
  .main-container {
    width: 100%;
    display:grid;
    grid-template-columns: 50% 50%;
   
    
 
}



  /****************ABOUT*****************/

   
  .about-heading {
    text-transform: var(--texttrfm-cap);
    font-size: var(--fsz-title-lg);
   
}


.about-grid-container {
    font-size: var(--fsz-reg-lg); 
}

.about-items p {
  padding: 0 var(--sec-padd-sm);
}




  /****************ROOMS*****************/
  
 
  .room-slide-images {
    height: 40vh;
  }


  .room-grid-texts {
    padding: var(--sec-padd-sm);
}


  .bed-list-type li {
    font-size: var(--fsz-reg-lg);
  }



/*****RESTAURANT****/


.resto-texts { 
  padding: var(--sec-padd-sm); 
}






/*****EVENTS*********/


.events-heading {
  width: 70%;
  margin:0 auto;
}


.functions-wrapper {
  padding: var(--sec-padd-sm);
}


/*********NEWSLETTER********/


form.newsletter,summary{
   
  font-size: var(--fsz-reg-lg);

}


<<<<<<< HEAD
=======


/******************SECOND PAGE*******************************/



.room-banner {
  padding:10rem var(--sec-padd-lg) var(--sec-padd-lg);
}


.room-banner h4 {
  font-size: var(--fsz-reg-lg);
}

.room-banner h1 {
  font-size: var(--fsz-title-lg);
}



/********SERVICES***********/

.sec-title {
  font-size: var(--fsz-title-lg);
}
.services-intro {
  font-size: var(--fsz-reg-lg);
}




/********INTERIOR***********/


.interior-gallery {
    display:grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: repeat(5, 20rem);
   width: 90%;
   margin: 0 auto;
  
    
  }

.image {
  height: auto;
  padding: .5rem;
  
  
}

.jaz {
    grid-column: 1 / 2;
    grid-row: 1 / 3 ;
}


.shower {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
   
  
}

.cr {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  
}

.tv {
  grid-column: 2 / 4;
  grid-row: 3 / 5;

}

.table {
  grid-column: 1/2;
  grid-row: 3 / 4;
}

.aircon {
  grid-column: 1/2 ;
  grid-row: 4 / 5;

}

.pillows {
  grid-column: 1/4 ;
  grid-row: 5 / 6;

}

.towels {

  grid-column: 1/2;
  grid-row:5 /6;

}

.toothbrush {
  grid-column: 2 / 4 ;
  grid-row:5 /6;

}





>>>>>>> b79f625 (second commit with new file and assets)
}